*.py[co]
*.sw[op]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
node_modules

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

.DS_store

# Rendered files
www/*.html
www/css/*.min.*.css
www/css/*.min.css
www/css/*.less.css
www/js/*.min.*.js
www/js/*.min.js
www/js/templates.js
www/js/app_config.js
www/js/copy.js
www/test/test.html
www/comments/index.html
confs/rendered/*

# Local data
data/gdoc*.csv
data/copy.xls
data/copy.xlsx
www/assets/*
!www/assets/assetsignore
