alabaster==0.7.6
args==0.1.0
Authomatic==0.0.13
Babel==2.1.1
bcdoc==0.12.0
boto==2.34.0
botocore==0.31.0
cement==2.6.2
clan==0.1.3
clint==0.5.1
colorama==0.2.5
copytext==0.1.9
Django==1.8
django-classy-tags==0.7.0
django-flat-theme==1.1.3
django-mptt==0.7.4
django-nyt==0.9.8
django-sekizai==0.9.0
docutils==0.11
ecdsa==0.13
elex==0.1.1
Fabric==1.4.3
facebook-sdk==0.4.0
Flask==0.9
google-api-python-client==1.2
gunicorn==19.1.1
httplib2==0.9
jdcal==1.2
Jinja2==2.7.3
jmespath==0.2.1
Markdown==2.6.5
MarkupSafe==0.23
nose==1.3.7
odict==1.5.1
openpyxl==2.2.0
paramiko==1.16.0
peewee==2.7.4
Pillow==3.0.0
ply==3.4
psycopg2==2.6.1
pyasn1==0.1.7
pycrypto==2.6
Pygments==2.0.2
pymongo==2.8
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
requests==2.8.1
six==1.5.2
slimit==0.7.4
smartypants==1.8.6
snowballstemmer==1.2.0
sorl-thumbnail==12.4a1
South==1.0.2
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
ssh==1.7.14
termcolor==1.1.0
twitter==1.14.3
Werkzeug==0.8.3
wheel==0.23.0
-e git+git@github.com:django-wiki/django-wiki.git@525cf620200b92ba63df5639b5279a2ec8375c20#egg=wiki-master
