Fabric==1.4.3
Flask==0.9
Jinja2==2.6
Werkzeug==0.8.3
awscli==1.2.10
bcdoc==0.12.0
boto==2.25.0
botocore==0.31.0
colorama==0.2.5
cssmin==0.1.4
docutils==0.11
envoy==0.0.2
jmespath==0.2.1
nose==1.2.1
odict==1.5.1
openpyxl==1.8.5
ply==3.4
pyasn1==0.1.7
pycrypto==2.6
python-dateutil==2.2
requests==1.1.0
rsa==3.1.2
six==1.5.2
slimit==0.7.4
ssh==1.7.14
wsgiref==0.1.2
copytext==0.1.0
