<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    <a class="sr-only" href="#content">Skip To Content</a>

    {% block nav %}
    <nav role="navigation">
        <ul class="site-links">
            <li class="npr"><a href="http://npr.org"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a></li>
            <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
            <li class="arts"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
            <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
            <li class="listen"><a href="http://www.npr.org/listen/">Listen</a></li>
        </ul>
        <ul class="site-links-2">
            <li class="stations"><a href="http://www.npr.org/templates/stations/stations/">Stations</a></li>
            <li class="donate"><a href="http://www.npr.org/stations/donate/index.php">Donate</a></li>
            <li class="shop"><a href="http://shop.npr.org">Shop</a></li>
        </ul>
    </nav>
    {% endblock nav %}

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer>
        <div class="primary">
            <ul>
                <li><a href="http://www.npr.org" data-action="Click Logo"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR Logo"></a></li>
                <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
                <li class="artslife"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
                <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
                <li class="programs"><a href="http://www.npr.org/programs/">Programs</a></li>
                <li class="listen"><a href="http://www.npr.org/listen/">Listen</a></li>
                <li class="about"><a href="http://www.npr.org/about/">About</a></li>
            </ul>
        </div>
        <div class="secondary">
            <p>&copy;2016 NPR</p>
            <ul>
                <li id="footerContact"><a href="http://help.npr.org/npr/includes/customer/npr/custforms/contactus.aspx">Contact</a></li>
                <li><a href="http://www.npr.org/about/termsofuse.html">Terms of Use</a></li>
                <li><a href="http://www.npr.org/about/privacypolicy.html">Privacy</a></li>
                <li><a href="http://thin.npr.org/">Text-Only</a></li>
            </ul>
        </div>
    </footer>
    {% endblock footer %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
