<div class="disqus-comments comments-container">
    <h4>{{ COPY.share.comment_prompt }}</h4>

    <h3 class="commentBoxNotLoggedIn" id="login-overlay-link">You must be signed in to leave a comment. <a href="http://www.npr.org/templates/reg/login.php?returnUrl={{ COPY.share.share_url }}">Sign In / Register</a></h3>

    <h3 class="commentBoxNotLoggedIn" id="logout-overlay-link" style="display:none;"><a href="http://www.npr.org/templates/reg/logout.php?returnUrl={{ COPY.share.share_url }}">Sign out
    </a></h3>

    <p class="comment-terms">Please keep your community civil. All comments must follow the <a href="http://npr.org/discussionrules" target="new">NPR.org Community rules</a> and <a href="http://www.npr.org/about/termsofuse.html" target="new">terms of use</a>, and will be moderated prior to posting. NPR reserves the right to use the comments we receive, in whole or in part, and to use the commenter's name and location, in any medium. See also the <a href="http://www.npr.org/about/termsofuse.html" target="new">Terms of Use</a>, <a href="http://www.npr.org/about/privacypolicy.html" target="new">Privacy Policy</a> and <a href="http://npr.org/communityfaq" target="new">Community FAQ</a>.</p>

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <div id="disqus_thread">&nbsp;</div>
</div><!-- / disqus comments -->

