<li class="facebook-post">

    <p class="facebook-author-avatar">
        <a href="{{ post.from.link }}" target="_blank" onclick="ANALYTICS.actOnFeaturedFacebook('avatar', '{{ post.from.link }}');">
            <img src="{{ post.from.picture }}" />
        </a>
    </p>
    
    <div class="facebook-content clearfix">
        <p class="facebook-author-name"><a href="{{ post.from.link }}" target="_blank" onclick="ANALYTICS.actOnFeaturedFacebook('author-name', '{{ post.from.link }}');">{{ post.from.name }}</a></p>

        <p class="facebook-message">{{ post.message }}</p>
    </div><!-- / facebook-content -->

    <div class="facebook-meta">
        <p class="facebook-actions">
            <span class="facebook-like">Likes: {{ post.likes }}</span>
            <span class="facebook-comment">Comments: {{ post.comments }}</span>
            <a class="facebook-view" href="{{ post.from.link }}/posts/{{ post.id }}" target="_blank" onclick="ANALYTICS.actOnFeaturedFacebook('view-post', '{{ post.from.link }}');">View Post</a>
        </p>
    </div><!-- / facebook-meta -->
</li>

