<li class="tweet">

     <p class="follow-author">
        <a href="https://twitter.com/intent/user?user_id={{ tweet.user.id }}" target="_blank" onclick="ANALYTICS.actOnFeaturedTweet('follow', '{{ tweet.url }}');">
        <img class="tweet-author-avatar" src="{{ tweet.user.profile_image_url }}" />
        Follow
        </a>
    </p>
    
    <div class="tweet-content clearfix">
        <p class="tweet-author">
            <a  class="tweet-author-name" href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank" onclick="ANALYTICS.actOnFeaturedTweet('profile', '{{ tweet.url }}');">{{ tweet.user.name }}</a>
            
            <a  class="tweet-author-username" href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank" onclick="ANALYTICS.actOnFeaturedTweet('profile', '{{ tweet.url }}');">@{{ tweet.user.screen_name }}</a>
        </p>
        
        <p class="tweet-timestamp">
            <a href="{{ tweet.url }}" target="_blank" onclick="ANALYTICS.actOnFeaturedTweet('timestamp', '{{ tweet.url }}');">{{ tweet.creation_date }}</a>
        </p>
        
        {% if tweet.photo %}
        <p class="tweet-photo">
            <img src="{{ tweet.photo.url }}:small" />
        </p>
        {% endif %}
        <p class="tweet-text">{{ tweet.html|safe }}</p>
    </div><!-- / tweet-content -->
    
    <div class="tweet-meta">

        <p class="tweet-actions">
        
        <a class="tweet-favorite" href="https://twitter.com/intent/favorite?tweet_id={{ tweet.id }}" onclick="ANALYTICS.actOnFeaturedTweet('favorite', '{{ tweet.url }}');"><i class="fa fa-star-o"></i> <b>Favorite</b></a>
        
        
        <a class="tweet-retweet" href="https://twitter.com/intent/retweet?tweet_id={{ tweet.id }}" onclick="ANALYTICS.actOnFeaturedTweet('retweet', '{{ tweet.url }}');"><i class="fa fa-retweet"></i> <b>Retweet</b></a>
        
        <a class="tweet-reply" href="https://twitter.com/intent/tweet?in_reply_to={{ tweet.id }}" onclick="ANALYTICS.actOnFeaturedTweet('reply', '{{ tweet.url }}');"><i class="fa fa-reply"></i> <b>Reply</b></a>
        
        <a class="view-on-twitter" href="{{ tweet.url }}" target="_blank" onclick="ANALYTICS.actOnFeaturedTweet('view', '{{ tweet.url }}');">View Tweet</a>
        
        </p>
    </div><!-- / tweet-meta -->
</li>

