<!-- Fonts -->
<script src="{{ S3_BASE_URL }}/js/lib/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7',
                 'Knockout 31 4r:n4'
             ],
             urls: [
                'https://s.npr.org/templates/css/fonts/GothamSSm.css',
                'https://s.npr.org/templates/css/fonts/Knockout.css'
            ]
         },
         timeout: 10000
    });
</script>
{{ CSS.push('www/css/icon/npr-app-template.css') }}
