<div class="modal fade" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <button type="button" class="share-close" data-dismiss="modal" aria-hidden="true">&times; <em>Close</em></button>
                <div class="story-summary">
                    <h4>Share this story</h4>

                    <p> 
                    <b class="summary-text">{{ COPY.share.story_summary }} {{ COPY.share.share_url }}</b> <a class="clippy" data-clipboard-text="{{ COPY.share.story_summary }} {{ COPY.share.share_url }}"><i class="fa fa-clipboard"></i> Copy</a> </p>
                
                </div><!-- / story-summary -->
          
                <div class="email-friend">
                        <h4><a href="mailto:?body={{ COPY.share.email_body|safe }}&subject={{ COPY.share.email_subject }}" onclick="ANALYTICS.clickEmail('share-discuss');"><i class="fa fa-envelope share-icon"></i> <b>Email to a friend</b></a></h4>
                    </div><!-- / email-friend -->

                <div class="facebook-share share-section">
                    
                    <h4>On Facebook</h4>

                    <ul class="featured-facebook-posts">
                        {% for post in featured.facebook_posts %}
                        {% include '_featured_facebook_post.html' %}
                        {% endfor %}
                    </ul><!-- / featured-tweets -->
                    
                    <p class="share-story"><a href="https://www.facebook.com/dialog/feed?app_id={{ COPY.share.facebook_app_id }}&amp;link={{ COPY.share.share_url|urlencode }}&amp;name={{ COPY.share.facebook_title|urlencode }}&amp;picture={{ COPY.share.facebook_image_url|urlencode }}&amp;redirect_uri={{ SHARE_URL|urlencode }}" target="_blank" onclick="ANALYTICS.clickFacebook('share-discuss');"><i class="fa fa-facebook share-icon"></i> <b>Share story on Facebook</b></a></p>
                </div><!-- / facebook-share -->

                <div class="twitter-share share-section">
                    
                
                    <h4>On Twitter</h4>

                    <ul class="featured-tweets">
                        {% for tweet in featured.tweets %}
                        {% include '_featured_tweet.html' %}
                        {% endfor %}
                    </ul><!-- / featured-tweets -->
                    
                    <p class="share-story">
                        <a href="http://twitter.com/share?text={{ COPY.share.twitter_text|urlencode }}&amp;url={{ COPY.share.share_url|urlencode }}" target="_blank" onclick="ANALYTICS.clickTwitter('share-discuss');"><i class="fa fa-twitter share-icon"></i> <b>Share story on Twitter</b></a>
                    </p>
                </div><!-- / twitter-share -->

                {% include '_disqus.html' %}
            </div><!-- / modal-body -->
        </div><!-- / modal-content -->
    </div>
</div><!-- / #share-modal -->
