{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ COPY.meta.twitter_handle }}">
<meta name="twitter:image" content="{{ COPY.meta.twitter_image_url }}" />

{# Facebook #}
<meta property="og:title" content="{{ COPY.meta.facebook_title }}" />
<meta property="og:url" content="{{ SHARE_URL }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ COPY.meta.facebook_text }}" />
<meta property="og:image" content="{{ COPY.meta.facebook_image_url }}" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="{{ COPY.meta.facebook_app_id }}" />

{# Google News #}
<meta name="thumbnail" content="{{ COPY.meta.google_news_image_url }}" />
