{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ TWITTER_HANDLE }}">
<meta name="twitter:image" content="{{ TWITTER_IMAGE_URL }}" />

{# Facebook #}
<meta property="og:title" content="{{ COPY.sharing.facebook_title }}" />
<meta property="og:url" content="{{ SHARE_URL }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ COPY.sharing.facebook_text }}" />
<meta property="og:image" content="{{ FACEBOOK_IMAGE_URL }}" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />

{# Google News #}
<meta name="thumbnail" content="{{ GOOGLE_IMAGE_URL }}" />
