<meta name="twitter:card" content="summary">
<meta property="og:title" content="{Title}" />
<meta property="og:url" content="http://cookyourcupboard.tumblr.com/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Confounded in the kitchen? With a little help, your strange and surplus food could be dinner! Please submit a photo or make suggestions. We'll ask chefs about our favorites on NPR's Morning Edition." />
<meta property="og:image" content="http://apps.npr.org/cook-your-cupboard/img/casa-fiesta.jpg" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="138837436154588" />