{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/auth.less') }}
{% endblock %}

{% block outer_content %}
<div class="container">
    <div class="jumbotron">
        {% if result.error %}
        <h1>Oh no, there was an error!</h1>
        <p><strong>Error message:</strong> {{ result.error.message }}</p>
        {% endif %}

        {% if result.user %}
        <h1>Here you go!</h1>

        <p>Add this line to your <code>bash_profile</code>!</p>
        <pre><code>export APPS_GOOGLE_OAUTH="{{ result.user.credentials.serialize() }}"</code></pre>

        <p><a href="/" class="btn btn-primary btn-lg"><b>Take me back!</b> <i class="fa fa-chevron-circle-right"></i></a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block comments %}{% endblock %}
