{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/auth.less') }}
{% endblock %}

{% block outer_content %}
<div class="container">
    <div class="jumbotron">
        {% if result.error %}
        <h1>Oh no, there was an error!</h1>
        <p><strong>Error message:</strong> {{ result.error.message }}</p>
        {% endif %}

        {% if result.user %}
        <h1>Success!</h1>

        <p>That was it. Nothing more to do. This should work for all app template projects.</p>

        <p><a href="/" class="btn btn-primary btn-lg"><b>Take me back!</b> <i class="fa fa-chevron-circle-right"></i></a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block comments %}{% endblock %}
