<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    {{ CSS.push('less/comments_full.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/comments.min.css') }}

    {% include '_social_tags.html' %}
</head>
<body>

    <div class="container comments-container fullpage">
        <a class="back" href="{{ S3_BASE_URL }}"><i class="fa fa-chevron-left"></i> Back to {{ COPY.content.project_name }}</a>

        <h2><a href="http://npr.org"><img class="npr-logo" src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a></h2>

        <h1><a href="{{ S3_BASE_URL }}">{{ COPY.content.project_name }}</a></h1>

        {% include '_disqus.html' %}
    </div>

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/webfont.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/fonts.js') }}
    {{ JS.push('js/comments.js') }}
    {{ JS.render('js/comments-footer.min.js') }}

    <script type="text/javascript">
        $(function() {
            loadComments();  
        });
    </script>
</body>
