{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
    {{ CSS.push('less/app-map.less') }}
{% endblock %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block map_content %}
    <div id="topper">
        <h1>{{ PROJECT_NAME }}</h1>
        <button id="about" data-toggle="modal" data-target="#myModal">About<br/>the map</button>
    </div>
    <div id="info-bar">
        <div class="info-box">
            <p>Tap map for property information</p>
        </div>
    </div>
    <div id="map"></div>
    <div id="legend">
        <div class="legend-contents">
    		<p class="headline">{{ PROJECT_NAME }}</a>

    			<p class="chatter">TKTK</p>
                <h4 class="legend-header">Colors!</h4>
    			<ul>
                    <li><span style="background:#B39429; border: #B39429 1px solid; color:#B39429;"></span> Low</li>
                    <li><span style="background:#AA6A21; border: #AA6A21 1px solid; color:#AA6A21;"></span> Medium</li>
                    <li><span style="background:#A23520; border: #A23520 1px solid; color:#A23520;"></span> High</li>
                </ul>
                </p>
    		<p class="byline">By {{ COPY.content.byline }} &mdash; {{ COPY.content.date }}</p>
    		<p class="source">Sources: {{ COPY.content.sources }}</p>
		</div>
	</div>

	<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">X</button>
	    <h3>{{ PROJECT_NAME }}</h3>
	  </div>
      <div class="modal-body">
      </div>
	</div>
    
{% endblock %}

{% block extra_foot %}
<!--[if lte IE 8]>
    <link href='css/mapbox.ie.css' rel='stylesheet' />
<![endif]-->
<script type="text/javascript" src="js/lib/mapbox.js"> </script>
{% endblock extra_foot %}
