{% extends '_base.html' %}

{% block extra_head %}
{{ CSS.push('less/app-table.less') }}
{{ CSS.render('css/app-table.min.css') }}
{% endblock %}

{% block content %}
<h1>{{ project_name }}</h1>

<div class="app-table">
	<div class="table-controls">
		<div class="table-filter">
			<label for="table-search">Search this table:</label>&nbsp;<input name="search" type="search" />
		</div>

		<div class="table-pager">
			<form>
				<div class="pager-nav">
					<a href="" class="prev btn btn-blue">prev</a><input class="pagedisplay" readonly="readonly" /><a href="" class="next btn btn-blue">next</a>
				</div>
			</form>
		</div>

	</div>

	<table class="table tablesorter">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for d in row %}
                <td>{{ d }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </body>
    </table>

	<div class="table-pager">
		<form>
			<div class="pager-nav">
				<a href="" class="prev btn btn-blue">prev</a><input class="pagedisplay" readonly="readonly" /><a href="" class="next btn btn-blue">next</a>
			</div>
			<div class="pager-size">
				<label for="pagesize">Show per page:</label>
				<select class="pagesize">
					<option value="10">10</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</form>
	</div>
    
    <div class="table-footer">
    	<div class="table-footnote">
			<h4>Notes</h4>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
		</div>
    	<div class="table-credits">
			<p>Source: Duis aute irure dolor in reprehenderit in voluptate velit</p>
			<p>Credit: [Name]/NPR</p>
		</div>
    </div>
</div>

{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.tablesorter.js') }}
    {{ JS.push('js/lib/jquery.tablesorter.pager.js') }}
    {{ JS.push('js/lib/jquery.tablesorter.multipagefilter.js') }}
{% endblock %}

