<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>
    <style type="text/css">
        iframe { border-width:0; overflow:hidden; }
    </style>
</head>
<body>

<h1>620x250</h1>
<script type="text/javascript">
    nprapps_widget_width = 620;
    nprapps_widget_height = 250;
</script>
<script type="text/javascript" src="js/embed-widget.js"></script>

<h1>300x500</h1>
<script type="text/javascript">
    nprapps_widget_width = 300;
    nprapps_widget_height = 500;
</script>
<script type="text/javascript" src="js/embed-widget.js"></script>

<h1>960x230</h1>
<script type="text/javascript">
    nprapps_widget_width = 960;
    nprapps_widget_height = 230;
</script>
<script type="text/javascript" src="js/embed-widget.js"></script>

</body>
</html>
