<html class="no-js">
    <head>
        <title>{Title}{block:SearchPage} ({lang:Search results for SearchQuery}){/block:SearchPage}{block:PermalinkPage}{block:PostSummary}  {PostSummary}{/block:PostSummary}{/block:PermalinkPage} : NPR</title>

        <meta charset="utf-8">
        <meta name="description" content="{block:IndexPage}{block:Description}{MetaDescription}{/block:Description}{/block:IndexPage}{block:PermalinkPage}{block:PostSummary}{PostSummary}{/block:PostSummary}{/block:PermalinkPage}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

        <meta name="font:Body" content="'Helvetica Neue', Helvetica, Arial, sans-serif"/>

        <!-- Appearance option -->
        <meta name="if:Two column posts" content="1"/>
        <meta name="if:Show blog title" content="1"/>
        <meta name="if:Show blog description" content="1"/>
        <meta name="if:Show profile photo" content="0"/>
        <meta name="if:Use endless scrolling" content="1"/>
        <meta name="if:Use larger font for quotes" content="0"/>
        <meta name="if:Show image shadows" content="1"/>
        <meta name="if:Show post notes" content="1"/>
        <meta name="if:Show copyright in footer" content="0"/>
        <meta name="text:Disqus Shortname" content="" />

        <link rel="shortcut icon" href="http://www.npr.org/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}"/>

        <!-- HTML5 Shiv -->
        <!--[if lt IE 9]>
                <script src="http://static.tumblr.com/hriofhd/Qj0m8pn7q/html5shiv.js"></script>
        <![endif]-->
        <script type="text/javascript" src="http://{{ S3_BUCKETS[0] }}/{{ PROJECT_SLUG }}/js/lib/modernizr.custom.js"></script>

        <!-- Reset CSS -->
        <link rel="stylesheet" href="http://static.tumblr.com/thpaaos/DIcklyl4z/reset.css" type="text/css">

        <!-- Project CSS -->
        <link rel="stylesheet" href="http://{{ S3_BUCKETS[0] }}/{{ PROJECT_SLUG }}/css/tumblr.less.css" />

        <!--[if lt IE 9]>
            <style type="text/css">
                #container { width: 980px; }
            </style>
        <![endif]-->


        <!-- GOOGLE ANALYTICS -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5828686-4']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        {% include "_social.html" %}

        <script type="text/javascript" src="http://assets.tumblr.com/javascript/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="http://{{ S3_BUCKETS[0] }}/{{PROJECT_SLUG }}/js/app-tumblr.js"></script>


    </head>
    <body class="{block:IndexPage}index-page{/block:IndexPage}{block:PermalinkPage}permalink-page{/block:PermalinkPage}">
        <div id="nav">
            <ul class="site-links">
                <li class="npr"><a href="http://npr.org"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a></li>
                <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
                <li class="arts"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
                <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
                <li class="listen"><a href="http://www.npr.org/listen/">Listen</a></li>
            </ul>
        </div>

        <section id="container" class="group">
            <header>
                <div id="blog_info">

                    {block:IfShowBlogTitle}
                    <h1><a href="/">{Title}</a></h1>
                    {/block:IfShowBlogTitle}

                    <div class="project-prompt">{% include "_prompt.html" %}</div>

                    <div class="mobile-prompt">
                        <span></span>
                        <p><strong>Use your smartphone.</strong> Visit <b>{{ PROJECT_SHORTLINK }}</b>.</p>
                    </div>

                    {block:IndexPage}
                    <p class="project-credits">
                        Credits: {{ PROJECT_CREDITS }}<br />
                        Questions? Problems? E-mail <a href="mailto:tumblr@npr.org">tumblr@npr.org</a>.
                    </p>
                    {/block:IndexPage}
                </div>
            </header>

            <section id="post-wrap">

                <ul id="posts">
                <!-- START POSTS -->
                {block:Posts}
                    {block:IndexPage}
                    <li class="post group">
                        <div class="wrap">

                            <ul class="post_info timestamp">
                                <li class="timestamp-wrap">
                                {TimeAgo}
                                </li>
                            </ul>

                            {block:Photo}
                            <section class="media">
                                 <a href="{Permalink}" class="link">
                                    <span class="img-holder" style="background-image: url('{PhotoURL-400}');"></span>
                                 </a>
                            </section>
                            {block:Caption}
                            <section class="caption excerpt">
                                <a href="{Permalink}" class="link">
                                {Caption}
                                </a>

                                <ul class="post_info comments">
                                    <li class="more"><a href="{Permalink}">What would you do? Read / Comment &rsaquo;</a></li>
                                </ul>
                            </section>
                            {/block:Caption}
                            {/block:Photo}
                        </div>
                    </li>
                    {/block:IndexPage}


                    {block:PermalinkPage}
                    <li class="post group">
                        <div class="wrap">

                            <!-- BACK/NEXT PAGINATION FOR PERMALINK PAGES -->
                            {block:PermalinkPagination}
                            <section class="post-pagination">
                                {block:NextPost}<a href="{NextPost}" class="previous-post">&#171; Previous Post</a>{/block:NextPost}
                                {block:PreviousPost}<a href="{PreviousPost}" class="next-post">Next Post &#187;</a>{/block:PreviousPost}
                            </section>
                            {/block:PermalinkPagination}

                            {block:Photo}
                            <section class="top media" style="display:block;">
                                 <img src="{PhotoURL-HighRes}" alt="{PhotoAlt}">
                            </section>
                            {/block:Photo}

                            <section class="group caption_and_post_info
                                {block:Photo} after_top_part isphoto{/block:Photo}
                            ">
                                <ul class="post_info">
                                    <li class="timestamp-wrap">
                                    {block:Date}{Month} {DayOfMonth}, {Year} {12Hour}:{Minutes} {AmPm}{/block:Date}
                                    </li>
                                </ul>

                                {block:Text}
                                <section class="caption group">
                                    {block:Title}<h2>{Title}</h2>{/block:Title}
                                    <div class="cont group">{Body}</div>
                                    {block:ContentSource}
                                        <div class="cont content_source">
                                            <a href="{SourceURL}">
                                                {lang:Source}:
                                                {block:SourceLogo}
                                                    <img src="{BlackLogoURL}" width="{LogoWidth}" height="{LogoHeight}" alt="{SourceTitle}" />
                                                {/block:SourceLogo}
                                                {block:NoSourceLogo}
                                                    {SourceTitle}
                                                {/block:NoSourceLogo}
                                            </a>
                                        </div>
                                    {/block:ContentSource}
                                </section>
                                {/block:Text}

                                {block:Photo}
                                <section class="caption group">
                                    {block:Caption}
                                        <div class="cont">{Caption}</div>
                                    {/block:Caption}
                                    {block:ContentSource}
                                        <div class="cont content_source">
                                            <a href="{SourceURL}">
                                                {lang:Source}:
                                                {block:SourceLogo}
                                                    <img src="{BlackLogoURL}" width="{LogoWidth}" height="{LogoHeight}" alt="{SourceTitle}" />
                                                {/block:SourceLogo}
                                                {block:NoSourceLogo}
                                                    {SourceTitle}
                                                {/block:NoSourceLogo}
                                            </a>
                                        </div>
                                    {/block:ContentSource}
                                </section>
                                {/block:Photo}
                            </section>

                            {block:IfDisqusShortname}
                            <div id="disqus_thread"></div>
                            <script type="text/javascript" src="http://disqus.com/forums/{text:Disqus Shortname}/embed.js"></script>
                            <noscript><a href="http://{text:Disqus Shortname}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
                            {/block:IfDisqusShortname}

                            {block:PostNotes}
                            <section class="post_notes" name="notes">
                                <h4>Notes ({NoteCount})</h4>
                                {PostNotes}
                            </section>
                            {/block:PostNotes}

                        </div> <!-- end .wrap -->
                    </li>
                    {/block:PermalinkPage}

                    {/block:Posts}
                    <!-- END POSTS -->
                </ul>

                <footer id="footer">
                    {block:PermalinkPage}
                        <nav class="pagination-index">
                            <a href="/">See More {{ PROJECT_NAME }} Entries&nbsp;&rsaquo;</a>
                        </nav>
                    {/block:PermalinkPage}

                    {block:Pagination}
                        <nav class="pagination">
                            <section class="buttons">
                                {block:PreviousPage}<a href="{PreviousPage}" class="left">{lang:Previous page}<span class="arrow"></span></a>{/block:PreviousPage}
                                {block:NextPage}<a href="{NextPage}" class="right">{lang:Next page}<span class="arrow"></span></a>{block:NextPage}
                            </section>
                            <section class="disabled buttons">
                                <li class="left"><span class="arrow"></span></li>
                                <li class="right"><span class="arrow"></span></li>
                            </section>
                            <section class="count">Page  {CurrentPage} / {TotalPages}</section>
                        </nav>
                    {/block:Pagination}
                </footer>
            </section> <!-- #post-wrap -->
        </section> <!-- #container -->

        <div id="project-form" class="modal">{% include "_form.html" %}</div>

        <div class="modal-bg"></div>

        {block:IfUseEndlessScrolling}
        <script type="text/javascript">
            var Tumblelog = {};

            // AJAX
            Tumblelog.Ajax = (function(url, callbackFunction) {
                this.bindFunction = function (caller, object) {
                    return function() {
                        return caller.apply(object, [object]);
                    };
                };

                this.stateChange = function (object) {
                    if (this.request.readyState==4) {
                        this.callbackFunction(this.request.responseText);
                    }
                };

                this.getRequest = function() {
                    if (window.ActiveXObject)
                        return new ActiveXObject('Microsoft.XMLHTTP');
                    else if (window.XMLHttpRequest)
                        return new XMLHttpRequest();
                    return false;
                };

                this.postBody = (arguments[2] || "");
                this.callbackFunction=callbackFunction;
                this.url=url;
                this.request = this.getRequest();

                if(this.request) {
                    var req = this.request;
                    req.onreadystatechange = this.bindFunction(this.stateChange, this);

                    if (this.postBody!=="") {
                        req.open("POST", url, true);
                        req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                        req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                        req.setRequestHeader('Connection', 'close');
                    } else {
                        req.open("GET", url, true);
                    }

                    req.send(this.postBody);
                }
            });

            // Infinite Scroll
            Tumblelog.Infinite = (function() {

                var _$window          = $(window);
                var _$posts           = $('#posts');
                var _trigger_post     = null;

                var _current_page     = {CurrentPage};
                var _total_pages      = {TotalPages};
                var _url              = document.location.href;
                var _infinite_timeout = null;
                var _is_loading       = false;
                var _posts_loaded     = false;

                var _Ajax = Tumblelog.Ajax;

                function init() {
                    set_trigger();
                    enable_scroll();
                }

                function set_trigger () {
                    var $all_posts = _$posts.find('li.post');

                    if (!_posts_loaded) {
                        _posts_loaded = $all_posts.length;
                    }

                    if (_posts_loaded >= 4) {
                        _trigger_post = _$posts.find('li.post:eq(' + ($all_posts.length - 4) + ')').get(0);
                    } else if (_posts_loaded >= 3) {
                        _trigger_post = _$posts.find('li.post:eq(' + ($all_posts.length - 3) + ')').get(0);
                    } else {
                        _trigger_post = _$posts.find('li.post:last').get(0);
                    }

                };

                function in_viewport (el) {
                    if (el == null) return;
                    var top = el.offsetTop;
                    var height = el.offsetHeight;

                    while (el.offsetParent) {
                        el = el.offsetParent;
                        top += el.offsetTop;
                    }

                    return (top < (window.pageYOffset + window.innerHeight));
                };

                function enable_scroll() {
                    $('#footer .pagination').hide();
                    _$window.scroll(function(){
                        clearTimeout(_infinite_timeout);
                        infinite_timeout = setTimeout(infinite_scroll, 100);
                    });
                }

                function disable_scroll() {
                    clearTimeout(_infinite_timeout);
                    $(window).unbind('scroll');
                }

                function infinite_scroll() {
                    if (_is_loading) return;

                    if (in_viewport(_trigger_post)) {
                        load_more_posts(); // w00t
                    }
                };

                function load_more_posts() {
                    if (_is_loading) return;
                    _is_loading = true;

                    // Build URL
                    if (_url.charAt(_url.length - 1) != '/') _url += '/';
                    if (_current_page === 1) _url += 'page/1';
                    _current_page++;
                    _url = _url.replace('page/' + (_current_page - 1), 'page/' + _current_page);

                    // Fetch
                    _Ajax(_url, function(data) {
                        var new_posts_html = data.split('<!-- START' + ' POSTS -->')[1].split('<!-- END' + ' POSTS -->')[0];
                        var $new_posts = $('#posts', data);

                        // Insert posts and update counters
                        $('#posts').append(new_posts_html);

                        _posts_loaded = $new_posts.find('li.post').length;
                        // make the messages shorter, in our app-tumblr.js
                        trimMessages();

                        if ((_posts_loaded > 0) && (_current_page < _total_pages)) {
                            set_trigger();
                            _is_loading = false;
                        } else {
                            disable_scroll();
                        }
                    });

                    // Stats
                    {block:IfGoogleAnalyticsID}
                        if (typeof window._gaq != 'undefined') {
                            _gaq.push(['_trackPageview', _url]);
                        }
                    {/block:IfGoogleAnalyticsID}
                }

                return {
                    init: init
                };
            });

            $(function() {
                {block:IndexPage}
                if ( !($.browser.msie && (parseInt($.browser.version, 10) < 9) ) ) {
                    var InfiniteScroll = new Tumblelog.Infinite;
                    InfiniteScroll.init();
                }
                {/block:IndexPage}
            });
        </script>
        {/block:IfUseEndlessScrolling}

        <!-- CHARTBEAT -->
        <script type="text/javascript">
            var _sf_async_config={};
            /** CONFIGURATION START **/
            _sf_async_config.uid = 18888;
            _sf_async_config.domain = "npr.org";
            /** CONFIGURATION END **/
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement("script");
                    e.setAttribute("language", "javascript");
                    e.setAttribute("type", "text/javascript");
                    e.setAttribute("src",
                        (("https:" == document.location.protocol) ?
                         "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                         "http://static.chartbeat.com/") +
                        "js/chartbeat.js");
                    document.body.appendChild(e);
                }
                var oldonload = window.onload;
                window.onload = (typeof window.onload != "function") ?
                    loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>


        {block:IfUseEndlessScrolling}<script type="text/javascript" src="http://assets.tumblr.com/javascript/tumblelog.js"></script>{/block:IfUseEndlessScrolling}
    </body>
</html>
