<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <base target="_top" />

    {{ CSS.push('less/widget.less') }}
    {{ CSS.render('css/widget.min.css') }}

    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.render('js/widget-header.min.js') }}
</head>
<body>
    <h1>Let's rap.</h1>

{{ JS.push('js/widget.js') }}
{{ JS.render('js/widget-footer.min.js') }}
</body>
</html>
