/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	-ms-touch-action: none;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-user-drag: none;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
	max-width: none !important;
	}
/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
	max-width: 15000px !important;
	}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	}

.leaflet-tile-pane    { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane  { z-index: 5; }
.leaflet-marker-pane  { z-index: 6; }
.leaflet-popup-pane   { z-index: 7; }


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-container {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}


/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #05f;
	background: white;
	opacity: 0.5;
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	}
.leaflet-bar a {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	        border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 4px;
	        border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar {
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	}
.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 7px;
	        border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	        border-top-right-radius: 7px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 7px;
	        border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	        border-bottom-right-radius: 7px;
	border-bottom: none;
	}


/* zoom control */

.leaflet-control-zoom-in {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	}
.leaflet-control-zoom-out {
	font: bold 22px 'Lucida Console', Monaco, monospace;
	}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 28px;
	line-height: 30px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	background: #f8f8f9;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	color: black;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	text-shadow: 1px 1px 1px #fff;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	overflow: hidden;
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-control-zoom {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-control-zoom {
	border: 4px solid rgba(0,0,0,0.3);
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	}
.leaflet-popup-content {
	margin: 14px 20px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 15px;
	height: 15px;
	padding: 1px;

	margin: -8px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: white;

	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 5px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}
.leaflet-editing-icon {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	}
.map-legends {
    border:1px solid #bbb;
    box-sizing:border-box;
    background:#fff;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.map-legends {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.map-legends .map-legend {
    padding:10px;
}

.map-tooltip {
    z-index:999999;
    padding:10px;
    max-width:300px;
    opacity:1;

    -webkit-transition:opacity 150ms;
    -moz-transition:opacity 150ms;
    -ms-transition:opacity 150ms;
    -o-transition:opacity 150ms;
    transition:opacity 150ms;

    -webkit-user-select:auto;
    -moz-user-select:auto;
    user-select:auto;

    border:1px solid #bbb;
    box-sizing:border-box;
    background:#fff;
    -webkit-border-radius:3px;
    border-radius:3px;

    min-width:180px;
    max-width:280px;
    max-height:400px;

    overflow:auto;
    width:220px\8; /*< IE 9*/

    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.map-tooltip .close {
    text-indent:-999em;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAeCAYAAADO4udXAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHFSURBVHic7dpBbsIwEAXQoZpbwKKz8Bm66EFyjUicI1KuwUF6Ci/cBbmFJbqoLbluJezgMSn8JyGhJMRAvmZiw+5yuRBAay/3fgPwmBAsUIFggQoEC1QgWKACwQIVCBaoQLCgiIiMIjKWHo9gbVy4oJ/po9e42fPiUBERcemBxpiD935i5qO19ly6rzUR+SAics69a46zFc65WUSIKi9sA2MYN449O+fm0hcXVyzv/UREb977kzHmELeHUJ3Cvqn0fDfYhwfoi5WqKlREFRWLmY8hQPsQroGIKG4jooWZjzWDw3VJG4oXtnflWqU4WNbaszFmSMMVdsVQDdpt8NmkoYoVI2lPPY0iQjVVa1f774ak9cV2pBqqcE91rfUtre+57jGuiIxJgFa3oS0orljQxU03zGv8NeNzzr3eet6qipVVqyVs7toK43S7xYffmmwpoVulysPV4rstnhXmoWLmgZkH+g7YPp8twnOrXW74UZ2stecsXD2WG55F1Ur3Wtmss1mFrF1u+LUImswWp07LDcv1Q/6n3u1dc9ZZPSuExxErosa9HIIFKvAjNKhAsEAFggUqECxQgWCBCgQLVCBYoALBAhVfpi7sxwlEhWYAAAAASUVORK5CYII=) no-repeat 0 0;
    overflow:hidden;
    display:none;
}

.map-tooltip.closable .close:active  {
    border-color:#b0b0b0;
    background-color:#f0f0f0;
}

.map-tooltip.closable .close {
    position:absolute;
    top:4px;
    right:4px;
    width:20px;
    height:20px;
    background-position:-5px -5px;
    border-radius: 10px;
}

.map-tooltip.closable .close {
    display:block;
}

/* Leaflet Overrides */

.leaflet-control-interaction {
    position:absolute;
    top: 10px;
    right: 10px;
    width: 300px;
}

.leaflet-popup {
    pointer-events: none;
}

.leaflet-popup-close-button {
    pointer-events: all;
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    pointer-events: all;
}

.leaflet-popup-content {
    line-height: 1.6em;
    margin: 12px 16px;
}

.leaflet-popup-content .marker-title {
    font-weight: bold;
    line-height: 2em;
}

.leaflet-popup-tip {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.leaflet-control-mapbox-geocoder input {
    outline: none;
    padding: 5px;
}

.leaflet-control-mapbox-geocoder.searching:before {
    content:'';
    background:#cccccc;
    background:rgba(224,224,224,0.5);
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    z-index:100;
}

.leaflet-bar {
    box-shadow: none;
}

.leaflet-control .mapbox-button {
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 8px;
}

/* Cursors */
.leaflet-container {
    cursor: default;
    cursor: -webkit-default;
    cursor:    -moz-default;
}

.leaflet-dragging {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
}

.leaflet-clickable,
.leaflet-container.map-clickable {
    cursor: pointer;
    cursor: -webkit-pointer;
    cursor:    -moz-pointer;
}

/* Light Theme (default) */

.leaflet-control .mapbox-button {
    background: #fff;
    border: 1px solid #bbb;
}

.leaflet-control .mapbox-button:hover {
    background: #F4F4F4;
    cursor: pointer;
}

.leaflet-bar,
.leaflet-touch .leaflet-bar {
    border: 1px solid #bbb;
}

.leaflet-bar a:active,
.leaflet-control .mapbox-button:active {
    background: #e2e2e2;
}

.leaflet-control-mapbox-geocoder input[type=text] {
    border: 1px solid #bbb;
}

.leaflet-control-mapbox-geocoder input:focus {
    border-color: #888;
}

/* Dark Theme */

.leaflet-container.dark .leaflet-bar {
    border-color: #000;
}

.leaflet-container.dark .leaflet-bar a,
.leaflet-container.dark .leaflet-control .mapbox-button {
    background: #404040;
    color: #fff;
    border-color: #000;
}

.leaflet-container.dark .leaflet-bar a:hover,
.leaflet-container.dark .leaflet-control .mapbox-button:hover {
    background: #565656;
}

.leaflet-container.dark .leaflet-bar a:active,
.leaflet-container.dark .leaflet-control .mapbox-button:active {
    background: #6B6B6B;
}

.leaflet-container.dark .leaflet-bar a.leaflet-disabled,
.leaflet-container.dark .leaflet-control .mapbox-button.disabled {
    background: #252525;
    color: #474747;
}

.leaflet-container.dark .leaflet-control-mapbox-geocoder input[type=text] {
    background: #565656;
    border-color: #000;
    color: #fff;
}

.leaflet-container.dark .leaflet-control-mapbox-geocoder input:focus {
    border-color: #ccc;
}
